
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-horizontal top-30-margin" }) do  |f| %>
  <%= f.error_notification %>
  <%= f.input :email, hint: 'Your username please' %>
  <%= f.input :password, hint: 'No special characters.' %>
  <%= f.input :password_confirmation, hint: 'again, No special characters.' %>
  <%= f.button :submit %>
<% end %>

<%= render "devise/shared/links" %>


<!-- 
<h2>Sign up</h2>

<%#= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div><%#= f.label :email %><br />
  <%#= f.email_field :email, :autofocus => true %></div>

  <div><%#= f.label :password %><br />
  <%#= f.password_field :password %></div>

  <div><%#= f.label :password_confirmation %><br />
  <%#= f.password_field :password_confirmation %></div>

  <div><%#= f.submit "Sign up" %></div>
<%# end %>

<%#= render "devise/shared/links" %>
 -->