<!-- <h2>Sign in</h2>

<%#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div><%#= f.label :login %><br />
  <%#= f.text_field :login, :autofocus => true %></div>

  <div><%#= f.label :password %><br />
  <%#= f.password_field :password %></div>

  <%# if devise_mapping.rememberable? -%>
    <div><%#= f.check_box :remember_me %> <%#= f.label :remember_me %></div>
  <%# end -%>

  <div><%#= f.submit "Sign in" %></div>
<%# end %>

<%#= render "devise/shared/links" %> -->


<div class="tab-pane" id="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-horizontal top-30-margin" }) do |f| %>
    <div class="form-group">
      <%= f.label :login, class: "col-sm-2 control-label", for: "inputEmail3" %>
      <div class="col-sm-10 input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </span>
        <%= f.text_field :login, :autofocus => true, class: "form-control", id: "inputEmail3", placeholder:"Email" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label", for: "inputPassword3" %>
      <div class="col-sm-10 input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-asterisk"></span>
        </span>
        <%= f.password_field :password, class: "form-control", id: "inputPassword3", placeholder:"Password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <% end -%>                  
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit :'Login', class: "btn btn-default" %> or <button type="button" class="btn btn-default"><%= render "devise/shared/links" %></button>
      </div>
    </div>
  <% end %> 
</div>